/* add style! */
.navigation {
  padding-top: 1em;
}
.navigation ul > li {
  display:inline;
  list-style: : none;
}

h3 {
  text-decoration: underline;
  font-style: Verdana;
  font-weight: bolder;
  font-size: 30px,

}

p {
  font-weight: bold;
  font-style
}

.book {
  margin:1em;
  padding: 5%;
  display: inline-block;
}

.book > ul  {
  list-style:none;
  padding-left:0pt;
  font-style: Times;
}

.book > ul > div > #book-picture {
 /* box-shadow: 5px 5px 5px grey; */
/* position: relative; */
}


#bookwrapper {
  padding-left:0pt;
}

.form {
  margin-left:10%;
  margin-right:10%;
}
